<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/admin-index-style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <title>메인페이지 레이아웃</title>

  <style>

    .layout-main-container{
      max-width: 1250px; /* 최대 너비 설정 */
      margin: 0 auto; /* 화면 중앙 정렬 */
      min-height: 800px;

    }
  </style>
</head>
<body>
<!-- 공통 Navigation Bar -->
<nav class="navbar" id="navbar">
  <div class="navbar-container">
    <!-- 로고 -->
    <a class="navbar-brand" href="/admin">
      <img th:src="@{/images/logo.png}" alt="logo" width="200"/>
    </a>
  </div>
</nav>



<!-- 두 번째 네비게이션 바 -->
<div class="sub-navbar">
  <div class="sub-navbar-container">
    <a href="/admin/books/get" class="sub-nav-link">도서 관리</a>
    <a href="/admin/categories" class="sub-nav-link">카테고리 관리</a>
    <a href="/admin/wraps" class="sub-nav-link">포장 상품 관리</a>
    <a href="/admin/carriers" class="sub-nav-link">배송 업체 관리</a>
    <a href="/admin/shipment-policies" class="sub-nav-link">배송 정책 관리</a>
    <a href="/admin/tags" class="sub-nav-link">태그 관리</a>
    <a href="/admin/points" class="sub-nav-link">포인트 타입 관리</a>
    <a href="/admin/publishers" class="sub-nav-link">출판사 관리</a>
  </div>
</div>

<div class="layout-main-container">

  <!-- 중앙 컨테이너 -->
  <div  layout:fragment="content">
    <!-- 각 페이지에서 여기를 채움 -->

  </div>
</div>



<!-- 공통 푸터 -->
<footer class="footer">
  <div class="footer-container">
    <p>NHN Academy</p>
  </div>
</footer>

<div layout:fragment="script"></div>
<script th:src="@{/js/mypage-script.js}"></script>


<script th:src="@{/js/index-script.js}"></script>
<script th:src="@{/js/profile-drop-down.js}"></script>



</body>
</html>