<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/menu-footer-layout}">
<head>
  <meta charset="UTF-8">
  <title>회원가입 성공</title>
  <link rel="stylesheet" th:href="@{/css/signup-style.css}">

</head>
<body>
<div class="container" layout:fragment="content" style="min-height: 700px;">

  <div class="success-container">
    <h1>회원가입 완료 🎉</h1>
    <p>
      <span th:text="${responseMessage?.nickname ?: '회원'}"></span>님,
      <span th:text="${responseMessage?.MESSAGE ?: '회원가입이 완료되었습니다.'}"></span>
    </p>
    <a href="/login" class="btn-primary">로그인 페이지로 이동</a>
  </div>
</div>
</body>
</html>