.order-container {
    width: 1000px;
    display: inline-block;
}

.cost-container {
    width: 300px;
    position: fixed;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    float: right;
}

.address-container > input {
    margin-bottom: 10px;
}

.address-container > input[name="address"] {
    width: 50%;
}

.delivery-container label {
    margin-bottom: 20px;
}

.selected-pack-container {
    width: 100%;
    border: 1px solid black;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

.selected-book-element {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cost-element .cost-title {
    font-weight: bold;
}

.delivery {
    color: dodgerblue;
}

.delivery::before {
    content: "+";
}

.discount {
    color: red;
}

.discount::before {
    content: "-";
}

.cost-value::after {
    content: " 원"
}

.p-price {
    font-weight: bold;
    font-size: 24px;
}

.required::after {
    color: red;
    content: " *";
}

.ribbon {
    position: absolute;
    top: 0;
    right: 30px;
    width: 10px; /* 띠의 폭 */
    height: 100%; /* 카드의 높이에 맞추기 */
    background-color: lightcoral;
}

.text-grey {
    color: grey;
}

#address {
    width: 96%;
}

#coupon-info {
    display: none;
}