<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage-layout}" th:with="activePage='order-list'">
<head>
    <meta charset="UTF-8">
    <title>주문 조회</title>
    <link rel="stylesheet" th:href="@{/css/mypage-style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage-orderdetail-style.css}">
</head>

<body>
<div class="mypage-container" layout:fragment="content">
    <div class="order-delivery-container1">
        <div class="mypage-title1">
            <p class="font-default">주문 상세내역</p>
        </div>

        <div class="mypage-order-table">
            <table>
                <thead>
                <tr>
                    <th>주문일자</th>
                    <th>주문번호</th>
                    <th>도서 제목</th>
                    <th>주문 상태</th>
                    <th>수량</th>
                    <th>구매 가격</th>
                    <th>반품/교환</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderDetail : ${orderDetails}">
                    <td th:text="${#temporals.format(orderDetail.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${orderDetail.orderDetailId}"></td>
                    <td th:text="${orderDetail.bookTitle}"></td>
                    <td th:text="${orderDetail.orderStateDescription()}"></td>
                    <td th:text="${orderDetail.quantity()}"></td>
                    <td th:text="${orderDetail.finalPrice} + '원'"></td>
                    <td>
                        <div>
                            <a th:href="@{/refunds/new}" class="review-button write-button">신청하기</a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(orderDetails)}">
                    <td colspan="7">주문 내역이 없습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav class="pagination-container">
            <ul class="pagination">
                <li th:classappend="${!orderDetails.hasPrevious()} ? 'disabled'">
                    <a th:href="@{'?page=' + (${orderDetails.number - 1}) + '&size=' + ${orderDetails.size}}" aria-label="Previous">&laquo; 이전</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, orderDetails.totalPages - 1)}" th:classappend="${i == orderDetails.number} ? 'active'">
                    <a th:href="@{'?page=' + ${i} + '&size=' + ${orderDetails.size}}" th:text="${i + 1}"></a>
                </li>
                <li th:classappend="${!orderDetails.hasNext()} ? 'disabled'">
                    <a th:href="@{'?page=' + (${orderDetails.number + 1}) + '&size=' + ${orderDetails.size}}" aria-label="Next">다음 &raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>